{% extends "/navbar.html" %}

{% block title %}Lookup Employee{% endblock %}

{% block content %}
    <form method="POST">
        <fieldset><legend>Look Up Employee</legend>
            <label for="fname">First Name <span class="required">*</span></label><br>
            <input type="text" id="fname" name="fname" required><br>

            <label for="lname">Last Name <span class="required">*</span></label><br>
            <input type="text" id="lname" name="lname" required><br>

            <input type="submit" value="Submit">
        </fieldset>
    </form>

    <div class="query_message">
        <p>{{query_message}}</p>
    </div>

    <h3>Employee(s)</h3>
    <table>
        <thead>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </thead>
        <tbody>
            {% for r in rows %}
            <tr>
                <td> {{ r.0 }} </td>
                <td> {{ r[1] }} </td>
                <td> {{ r[2] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}