/* Defining Font(s) For Use */

@font-face {
	font-family: StrangerThings;
	src: url(Benguiat_Bold.ttf);
}

@font-face {
	font-family: WorkSans-Regular;
	src: url(WorkSans-Regular.ttf);
}

@font-face {
	font-family: WorkSans-Bold;
	src: url(WorkSans-Bold.ttf);
}

@font-face {
	font-family: Roboto-Regular;
	src: url(Roboto-Regular.ttf);
}

/* Header */

#header {
	text-align: center;
	font-family: StrangerThings, Times, serif;
	font-size: 1.75em;
	color:black;
}

#header a:visited, #header a:active {
	color:black; 
}

#header a:hover {
	color: #AC0107;
}

/* Navigation Menu */

#menu {
	background-color: black;
}

.dropdown_button {
	font-family: WorkSans-Regular;
	font-size: 16px;
}

.dropdown_items {
	font-family: WorkSans-Regular;
	font-size: 14px;
}

ul {
	overflow: hidden;
	width: 50%;
	margin: 0 auto;
	padding-left: 10%;
	background-color:black;
	list-style-type: none;
}

li {
	float: left;
	width: 20%;
}

li a, .dropdown_button {
	display: inline-block;
	padding: 14px 16px;
	text-decoration: none;
	text-align: center;
	color: white;
}

li a:hover, .dropdown:hover .dropdown_button {
	background-color: #AC0107;
}

li.dropdown {
	display: inline-block;
}

.dropdown_items {
	display: none;
	position: absolute;
	min-width: 165px;
	background-color: #f9f9f9;
	box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown_items a {
	display: block;
	padding: 12px 16px;
	text-decoration: none;
	text-align: left;
	color: black;
}

.dropdown_items a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown_items {
	display: block;
}

/* Content */

#content {
	min-height: 700px;
}

/* Query Messages */
.query_message {
	text-align: center;
	font-family: Roboto-Regular;
}

/* Footer */

#footer {
    font-family: WorkSans-Regular;
	text-align: center;
	padding-top: 10px;
}


/*		Hide input number arrows		*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}